@use "colors" as *;
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	height: 100%;
	min-height: 100vh;
	font-family: "Montserrat", sans-serif;
	width: 100vw;
}

h1 {
	font-size: 2.4rem;
	font-weight: 400;
}

h2 {
	font-size: 1.7rem;
	font-weight: 400;
	margin: 1em;
}

p {
	line-height: 1.45em;
	font-weight: 300;
	text-align: justify;
}

a {
	text-decoration: none;
}

.wrapper {
	position: relative;
	min-height: 100%;
	width: 100%;
	padding: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 20vh;

	&__footer {
		padding-bottom: 0;
	}

	&__header {
		padding-bottom: 2em;
	}
}

// NAV //

.nav {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: $white;
	left: -900px;
	z-index: 90;
	transition: left ease-in-out 0.4s;

	&__link {
		font-size: 2rem;
		text-decoration: none;
		color: $black;
		padding: 0.9em;
		border-bottom: 1px solid $black;

		&:last-child {
			border: none;
		}
	}

	&__company-name {
		color: $dark-gray;
		font-size: 1.6rem;
	}

	&__logo {
		display: none;
	}
}

.hamburger {
	z-index: 1000;
	position: fixed;
	top: 0;
	color: rgba(255, 255, 255, 0.8);
	font-size: 3rem;
	padding: 0.8em;
}

.active {
	left: 0;
}

// HEADER //

.header {
	position: relative;
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
	font-size: 1.3rem;
	text-align: center;
	background-image: $dark-gray-gradient,
		url("/forest-website/img/jungle-small.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	&__text {
		color: #fff;

		&-companyname {
			font-size: 2rem;
			font-weight: light;
			margin-bottom: 1em;
		}
	}
}

.header-mob {
	top: 0;
	height: 130px;
	width: 100vw;
	background-image: linear-gradient(
			346deg,
			rgb(70 133 65 / 75%),
			rgba(0, 0, 0, 0.393)
		),
		url("/forest-website/img/jungle-small.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	box-shadow: 4px 4px 10px gray;

	i {
		font-size: 1.6rem;
		color: $light-gray;
		margin: 0.5em;
	}

	&__text {
		margin: 0.3em;
		font-size: 1.6rem;
		color: rgba(255, 255, 255);
		font-weight: 400;
	}
}

// ABOUT-US //

.about-us {
	position: relative;
	height: 100vh;

	&__img {
		width: 100%;
	}

	h3 {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
}

// BANNER //

.banner {
	background-image: $dark-gray-gradient,
		url("/forest-website/img/girl-small.jpg");
	background-size: cover;
	background-position: center;
	height: 300px;

	&__text {
		color: white;
		font-size: 1.6rem;
		border: 1px solid white;
		text-align: center;
		padding: 2em;
	}
}

// OFFER //

.offer {
	&__text {
		text-align: center;
	}

	&__card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 2em;
		box-shadow: 2px 1px 8px $medium-gray;
		border-radius: 5px;
		height: 330px;
		width: 75vw;
		transition: transform 0.3s;

		&-price {
			font-size: 2.8rem;
			font-weight: 600;
		}

		&-list {
			margin: 1.5em;
			list-style: none;
			line-height: 1.4rem;
		}

		&-list li i {
			margin-right: 0.5em;
		}

		&-list .incl i {
			color: $light-green;
		}

		&-list .not-incl i,
		&-list .not-incl {
			color: $medium-gray;
		}

		&-btn {
			border: none;
			background: none;
			border-radius: 5px;
			padding: 0.6em 4em;
			box-shadow: 2px 1px 8px $medium-gray;
			cursor: pointer;
			transition: background-color 0.3s;

			&:hover {
				background-color: $light-gray;
			}

			&--emphasized {
				background-color: $light-green;
				&:hover {
					background-color: $dark-green;
				}
			}
		}

		h3 {
			margin: 0;
			font-weight: 400;
			font-size: 1.5rem;
		}
	}

	&__card:hover {
		transform: scale(0.97);
	}

	&__details-link {
		margin: 1em 0 3em 0;
		font-size: 1.2rem;
		color: $black;
	}

	&__link-homepage:visited,
	&__details-link:visited {
		color: $black;
	}

	&__link-homepage:hover {
		color: $white;
		background-color: $black;
	}
}

// CONTACT //

.contact {
	&__box {
		margin-bottom: 2.5em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		i {
			margin-top: 2em;
			margin-bottom: 0.8em;
		}

		h3 {
			margin-bottom: 0.8em;
		}

		&-line {
			height: 10px;
			width: 30%;
			color: gray;
			z-index: 99999;
		}
	}

	input,
	textarea {
		font-family: inherit;
		width: 100%;
		padding: 0.5em;
		border: 1px solid rgba(0, 0, 0, 0.393);
		border-radius: 5px;
	}

	textarea {
		min-height: 120px;
		margin-bottom: 1em;
	}

	button {
		border: none;
		background-color: $light-green;
		border-radius: 5px;
		align-self: flex-end;
		padding: 0.6em 6em;
		box-shadow: 2px 1px 8px $medium-gray;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: $light-gray;
		}
	}

	iframe {
		border: none;
		height: 400px;
	}

	&__form {
		&-error {
			color: tomato;
			font-weight: 400;
			margin-top: 0;
			visibility: hidden;
		}

		&-thankyou {
			text-align: center;
			margin-bottom: 0.5em;
			visibility: hidden;
		}
	}
}

// FOOTER //

.footer {
	position: absolute;
	height: 20vh;
	width: 100%;
	background-color: $light-gray;
	bottom: 0;

	h3 {
		font-size: 2rem;
		margin-bottom: 0.2em;

		& i {
			color: $dark-gray;
		}
	}

	&__container-desktop {
		display: none;
	}

	&__bottom-text {
		display: block;
		font-size: 0.7rem;
		bottom: 0;
		padding: 1em 2em;
		border-top: 1px solid $medium-gray;
		background-color: $light-gray;
		text-align: center;
	}
}

.page-404,
.offer-subpage,
.thankyou {
	padding: 5em 1em 0em 1em;

	p {
		padding-top: 2em;
	}
}

// MEDIA //

@media (min-width: 576px) {
	.wrapper {
		text-align: start;
		padding: 3em;
		padding-bottom: 20vh;

		&__footer {
			flex-direction: row;
			flex-wrap: wrap;
			padding-top: 1em;
			padding-bottom: 0;
		}
	}

	.header {
		height: 75vh;
		background-image: $dark-gray-gradient,
			url("/forest-website/img/jungle-big.jpg");
	}

	.about-us {
		height: 800px;

		&__text {
			padding: 0 1em;
		}
	}

	.banner {
		margin: 2em 0;
		height: 250px;

		&__text {
			padding: 2em 5em;
		}
	}

	.offer {
		&__text {
			font-size: 1.4rem;
		}

		&__cards {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
		}

		&__card {
			width: 320px;
			height: 350px;
		}
	}

	.footer {
		height: 200px;

		&__container {
			&-left {
				width: 40%;
				display: flex;
				justify-content: center;
				align-items: center;

				& h3 {
					font-weight: normal;
					font-size: 2.4rem;
				}
			}

			&-right {
				width: 60%;
				display: flex;
				justify-content: space-between;
				line-height: 1.5rem;

				& h3 {
					font-size: 1rem;
				}
			}
		}

		&__card {
			& ul {
				list-style: none;
			}

			& a {
				text-decoration: none;
				font-size: 0.8rem;
				color: $dark-gray;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	iframe {
		width: 100%;
	}
}

@media (min-width: 768px) {
	h1 {
		font-size: 2rem;
		font-weight: 600;
	}

	p {
		font-size: 0.9rem;
		line-height: 1.8em;
	}

	.section {
		scroll-margin-top: 80px;
	}

	.wrapper {
		width: 80vw;
		height: 100%;
		padding: 0;
		margin: 0 auto;

		&__nav {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			z-index: 1000;
		}

		&__header {
			align-items: flex-start;
		}

		&__contact {
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-around;
		}

		&__footer {
			flex-direction: row;
			flex-wrap: wrap;
		}

		&__offer,
		&__offer-subpage,
		&__contact {
			padding-bottom: 200px;
		}
	}

	.nav {
		position: sticky;
		height: 80px;
		width: 100vw;
		top: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.5);

		&__link {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			font-size: 1rem;
			width: 100px;
			border: none;

			&:hover {
				background-color: $black;
				color: $white;
			}
		}

		&__logo {
			position: absolute;
			left: 0;
			height: 100%;
			display: flex;
			align-items: center;
			font-size: 2rem;
			text-decoration: none;
			color: $dark-gray;

			i {
				margin-right: 0.4em;
			}
		}

		&__current {
			background-color: $black;
			color: $white;
			cursor: default;
		}
	}

	.hamburger {
		display: none;
	}

	.header {
		position: relative;
		width: 100vw;
		height: 300px;
		background-image: linear-gradient(
				45deg,
				rgba(2, 4, 2, 0.758),
				rgba(0, 0, 0, 0.564)
			),
			url("/forest-website/img/jungle-big.jpg");
		background-position: center;
		background-attachment: scroll;

		&__text-companyname {
			font-size: 1.5rem;
			margin-bottom: 0;
		}
	}

	.header-mob {
		display: none;
	}

	.about-us {
		height: 500px;

		&__content {
			display: flex;
		}

		&__img {
			width: 380px;
			align-self: flex-start;
			object-fit: contain;
		}
	}

	.banner {
		background-image: $dark-gray-gradient,
			url("/forest-website/img/girl-big.jpg");
		background-attachment: fixed;

		&__text {
			font-size: 1.8rem;
			font-weight: 400;
			padding: 1em 6em;
		}
	}

	.offer {
		&__card {
			width: 250px;
			height: 350px;
		}
	}

	.contact {
		&__box {
			margin-top: 50px;
			margin-bottom: 50px;
		}

		&__contact-data {
			width: 370px;
		}

		&__map {
			width: 600px;
		}

		h3 {
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}

		i {
			margin-top: 1em;
		}

		&__form input,
		textarea {
			width: 600px;
		}
	}

	iframe {
		border: none;
		width: 100%;
	}

	.footer {
		&__container-left {
			width: 50%;
		}

		&__container-right {
			margin-top: 1em;
			width: 50%;
			justify-content: space-around;
		}

		&__bottom-text {
			width: 100%;
			font-size: 0.8em;
			align-self: flex-end;
		}
	}
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
	.about-us {
		&__img {
			width: 440px;
		}
	}
}

@media (min-width: 1400px) {
	.wrapper {
		width: 1000px;
	}
}
