@use "medium";
@use "large";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	font-family: "Montserrat", sans-serif;
	width: 100vw;
}

h1 {
	font-size: 2.4rem;
	font-weight: 400;
}

h2 {
	font-size: 1.7rem;
	font-weight: 400;
	margin: 1em;
}

h3 {
	margin: 1em 1em 1em 0;
}

p {
	line-height: 1.45em;
	font-weight: 300;
	text-align: justify;
}

.wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// nawigacja

.nav {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: rgb(255, 255, 255);
	left: -900px;
	z-index: 90;
	transition: left ease-in-out 0.4s;

	&_link {
		font-size: 2rem;
		text-decoration: none;
		color: black;
		padding: 0.9em;
		border-bottom: 1px solid black;

		&:last-child {
			border: none;
		}
	}

	&_logo {
		display: none;
	}
}

.burger-icon {
	z-index: 1000;
	position: fixed;
	color: rgb(159, 159, 159);
	font-size: 3rem;
	padding: 0.8em;
}

.active {
	left: 0;
}

// header mobile

.header {
	position: relative;
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
	font-size: 1.3rem;
	text-align: center;
	background-image: linear-gradient(
			45deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.3)
		),
		url("../img/jungle-small.jpg");
	background-size: cover;
	background-position: center;

	&__text {
		color: #fff;

		&-companyname {
			font-size: 2rem;
			font-weight: light;
			margin-bottom: 1em;
		}
	}
}

// about-us mobile

.about-us {
	position: relative;
	height: 100vh;

	&_img {
		width: 100%;
	}
}

// banner mobile

.banner {
	background-image: linear-gradient(
			45deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.3)
		),
		url("../img/girl-small.jpg");
	background-size: cover;
	background-position: center;
	height: 300px;

	&_text {
		color: white;
		font-size: 1.6rem;
		border: 1px solid white;
		text-align: center;
		padding: 2em;
	}
}

// oferta mobile

.offer {
	&_text {
		text-align: center;
	}

	&_card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 2em;
		box-shadow: 2px 1px 8px rgb(175, 175, 175);
		border-radius: 5px;
		height: 330px;
		width: 75vw;

		&-price {
			font-size: 2.8rem;
			font-weight: 600;
		}

		&-list {
			margin: 1.5em;
		}

		&-btn {
			border: none;
			background: none;
			border-radius: 5px;
			padding: 0.6em 4em;
			box-shadow: 2px 1px 8px rgb(175, 175, 175);

			&--emphasized {
				background-color: rgb(84, 225, 119);
			}
		}
	}
}

.offer h3 {
	margin: 0;
	font-weight: 400;
	font-size: 1.5rem;
}

// footer {
// 	height: 200px;
// 	width: 100%;
// 	background-color: rgb(161, 111, 111);
// 	bottom: 0;
// }

// large devices - tablets //

@media (min-width: 576px) {
	.wrapper {
		text-align: start;
		padding: 3em;
	}

	.header {
		height: 75vh;
	}

	.about-us {
		height: 800px;

		&_text {
			padding: 0 1em;
		}
	}

	.banner {
		margin: 2em 0;
		height: 250px;

		&_text {
			padding: 2em 5em;
		}
	}
}

@media (min-width: 768px) {
	.wrapper {
		width: 80vw;
		height: 100%;
		padding: 0;
		margin: 0 auto;

		&_nav {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			z-index: 1000;
		}

		&_header {
			align-items: flex-start;
		}

		&_about-us {
			border: 2px dotted lime;
		}
	}

	.nav {
		position: sticky;
		height: 80px;
		width: 100vw;
		top: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.5);

		&_link {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			font-size: 1rem;
			width: 100px;
			border: none;

			&:hover {
				background-color: black;
				color: white;
			}
		}

		&_logo {
			position: absolute;
			left: 0;
			height: 100%;
			display: flex;
			align-items: center;
			font-size: 2rem;

			i {
				margin-right: 0.8em;
			}
		}
	}

	.burger-icon {
		display: none;
	}

	h1 {
		font-size: 2rem;
		font-weight: 600;
	}

	h3 {
		margin: 0 0 1em;
	}

	p {
		font-size: 0.9rem;
		line-height: 1.8em;
	}

	.header {
		position: relative;
		width: 100vw;
		height: 300px;
		background-image: linear-gradient(
				45deg,
				rgba(2, 4, 2, 0.758),
				rgba(0, 0, 0, 0.564)
			),
			url("../img/jungle-big.jpg");
		background-position: center;

		&__text-companyname {
			font-size: 1.5rem;
			margin-bottom: 0;
		}
	}

	.about-us {
		height: 500px;

		&_content {
			display: flex;
		}

		&_img {
			width: 380px;
			align-self: flex-start;
			object-fit: contain;
		}
	}

	.banner {
		background-image: linear-gradient(
				45deg,
				rgba(17, 31, 13, 0.5),
				rgba(5, 21, 3, 0.697)
			),
			url("../img/girl-big.jpg");

		&_text {
			font-size: 1.8rem;
			font-weight: 400;
			padding: 1em 6em;
		}
	}
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
	.about-us {
		&_img {
			width: 440px;
		}
	}
}

@media (min-width: 1400px) {
	.wrapper {
		width: 1000px;
	}
}
